#logo {
  height: 40px;
  width: auto;
  margin-right: 10px;
}

.navbar {
display: flex;
padding: 1% 10%;
    min-height: 100px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--pd);
    font-size: 14px;
  
}

.navbar a {
  display: flex;
    color: var(--cw);
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.navbar a:hover {
  color: var(--pl); 
}


.logo-navbar {
  width: 24%;
  display: inline-flex;  
  font-weight: bold;
}

.links-navbar {
display: inline-flex;
    justify-content: space-evenly;;
        width: 70%;
}

.navbarul {
  list-style: none;
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;  
}