:root {
    --pp: #532092;
    --pd: #371069;
    --pl: #9255D7;
    --co: #fo9639;
    --cb: #202020;
    --cw: #ffffff;
}

.bg-body-tertiary{
    --bs-bg-opacity:1;
    background-color:black;
        height: 60px;
}

.navbar-nav .nav-link.active,.navbar-nav .nav-link.show{
    color:var(--pl)
}

.nav-link:focus,.nav-link:hover{
    color:var(--pl)
}

.nav-link{
    display:block;
    padding:var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: 18px;
    font-weight:lighter;
    color:var(--bs-nav-link-color);
    text-decoration:none;
    background:0 0;
    border:0;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out
}

.navbar-toggler{
    padding:var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size:var(--bs-navbar-toggler-font-size);
    line-height:1;
    color:var(--bs-navbar-color);
    background-color: var(--pl);
    border:var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius:var(--bs-navbar-toggler-border-radius);
    transition:var(--bs-navbar-toggler-transition)
}