 @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
 
 
 
 :root {
    --pp: #532092;
    --pd: #371069;
    --pl: #9255D7;
    --co: #fo9639;
    --cb: #202020;
    --cw: #ffffff;
}



*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
 
  font-family: "Exo 2", sans-serif;
  box-sizing: border-box;
  letter-spacing: 1px;
}

body {
  box-sizing: border-box;
  background-color: var(--cb);
  color: var(--cw); 
}


#logo {
  height: 40px;
  width: auto;
  margin-right: 10px;
}

.navbar {
display: flex;
padding: 1% 10%;
    min-height: 100px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--pd);
    font-size: 14px;
  
}

.navbar a {
  display: flex;
    color: var(--cw);
    text-decoration: none;
    justify-content: center;
    align-items: center;
}

.navbar a:hover {
  color: var(--pl); 
}


.logo-navbar {
  width: 24%;
  display: inline-flex;  
  font-weight: bold;
}

.links-navbar {
display: inline-flex;
    justify-content: space-evenly;;
        width: 70%;
}

.navbarul {
  list-style: none;
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;  
}


/* Nav Bar & Header CSS ends here.



Hero Sections start */

.hero {
  height: 600 px;
  background-color: #9255D7;
}