:root {
    --pp: #532092;
    --pd: #371069;
    --pl: #9255D7;
    --co: #fo9639;
    --cb: #202020;
    --cw: #ffffff;
}

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "Exo 2", sans-serif;
  box-sizing: border-box;
  letter-spacing: 1px;
}

body {
  box-sizing: border-box;
  background-color: var(--cb);
  color: var(--cw); 
}

